<section>
    <div class="columns">
        <div class="column">
            <app-jeu-concours></app-jeu-concours>
        </div>
    </div>

    <div class="columns">
        <div class="column is-one-third">
            <h1 class="title">Agences Z</h1>
            <ng-container *ngIf="cities$ | async as cities">
                <div class="panel" @fadeAnimation>
                    <a class="panel-block p-4" [routerLink]="['/', city.name]" *ngFor="let city of cities">
                        <img [src]="'https://ssl.gstatic.com/onebox/weather/48/'+city.weather.weather+'.png'"
                             [alt]="city.weather.weather" class="mr-4">
                        <h2 class="subtitle">{{ city.name }}</h2>
                    </a>
                </div>
            </ng-container>
        </div>
        <div class="column">
            <h1 class="title">Découvrez nos bons plans</h1>

            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://res.cloudinary.com/lastminute-contenthub/image/upload/c_lfill,ar_10:6/c_limit,w_300,h_999999/v1631196101/DAM/Campaigns/2021/Extended%20Summer/Pods/LM_FR.jpg"
                                     alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Besoin de soleil ?</p>
                                </div>
                            </div>

                            <div class="content">Réservez dès maintenant pour les fêtes de fin d'année. N'attendez plus
                                pour profiter des meilleurs prix
                            </div>

                            <button class="button is-info">Voir l'offre</button>

                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://back.voyages.carrefour.fr/admin/TS/fckUserFiles/Image/B2C/push_produit/610x460_skieurs_neige.jpg"
                                     alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">La neige arrive</p>
                                </div>
                            </div>

                            <div class="content">Pour les vacances de fin d'année et les vacances d'hiver, on pense
                                immédiatement aux vacances à la montagne
                            </div>

                            <button class="button is-info">Voir l'offre</button>

                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://www.opodo.fr/images/landingpages/vacation/640x480/reykjavik_640x480.jpg"
                                     alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Visitez Reykjavik</p>
                                </div>
                            </div>

                            <div class="content">Prendre un billet d'avion pour Reykjavik, c'est aller à la rencontre
                                d'une ville atypique et moderne
                            </div>

                            <button class="button is-info">Voir l'offre</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h1 class="title">Les dernières actualités</h1>

            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://meteofrance.com/sites/meteofrance.com/files/styles/345_180/public/images/articles/automne1.gif?itok=TCUqfFJK"
                                     alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">L'automne</p>
                                </div>
                            </div>

                            <div class="content">En météorologie, l'automne couvre les mois de septembre, octobre et
                                novembre, c'est-à-dire la période pendant laquelle la durée du jour raccourcit et
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://meteofrance.com/sites/meteofrance.com/files/styles/345_180/public/images/articles/14..jpg?itok=5s0yakbe"
                                     alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">"L’Œil du climat" illustre le changement climatique en
                                        France</p>
                                </div>
                            </div>

                            <div class="content">Météo-France, GEO et la fondation GoodPlanet ont lancé un grand
                                concours photo sur le thème " Le changement climatique en France ”. Les photographes,
                                amateurs
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://meteofrance.com/sites/meteofrance.com/files/styles/345_180/public/images/articles/maxresdefault.jpg?itok=6xZpC6T6"
                                     alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Anticyclone, dépression : à quels types de temps sont-ils
                                        associés ?</p>
                                </div>
                            </div>

                            <div class="content">Suivant les conditions météo, on parle d'une influence d'un anticyclone
                                ou d'une dépression; Souvent le
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://meteofrance.com/sites/meteofrance.com/files/styles/345_180/public/images/articles/GettyImages-1198946056.jpg?itok=denJKxTS"
                                     alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Assistance météorologique à la prévision des dangers
                                        d'incendies de forêts et de végétation </p>
                                </div>
                            </div>

                            <div class="content">Les conditions météorologiques (vent, chaleur, hygrométrie, sécheresse
                                de la végétation) ont une grande influence sur le développement et la propaga
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
